// components/Login.scss

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.login-box {
  border: 2px solid #000;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.login-wrap {
  padding: 50px;
}
.input-group {
  margin-bottom: 15px;

  label {
    display: block;
    margin-bottom: 5px;
  }

  input {
    width: fit-content;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}

.button-group {
  margin-top: 15px;

  button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: #0056b3;
    }
  }
}

.error-message {
  color: red;
  margin-top: 10px;
}
